css
*{
    margin:0;
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Open Sans', sans-serif;
    
}
header{
    background-image:url(/donate-today/images/donation14.webp);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:100%;
    height:50vh;
}
.background{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;

}
.sub-background{
   text-align:center;
}
.header-title{
  color:#fff;
  font-size:40px;
  margin-bottom:20px;  
}
.sub-description{
    color:#fff;
    font-size:20px;
}
.btn-primary{
    background:orange;
    margin-top:15px;
    width:200px;
    height:50px;
    color:#fff;
    font-size:20px;
    border:0;
    border-radius:10px;
}
/* Header section End  */

/*Donate today & our Donate plan Start & get my updates */
.main-heading{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
    margin-top:40px;
}
.sub-heading{
    text-align:center;
}
.heading{
    font-size:40px;
    margin-bottom:20px;
}
.description{
    font-size:20px;
}
/* End  */
/* Donate amount system */
.donate-type{
    margin:50px 200px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    font-size: 
}
.button-mark{
    border:2px solid rgb(240, 33, 67);
    height:80px;
    width:100px;
    text-align:center;
    background:rgb(238, 137, 153);
    color:#fff;
}
.amount{
    text-align:center;
    
}
.underline{
    width:300px;
    text-align:center;
}
.button-header{
  display:flex;
  align-items:center;
  justify-content:center;
  margin:50px 200px;
}
.fixed-donation{
    background:rgb(240, 135, 135);
    border:none;
    text-align:center;
    width:100px;
    height:50px;
    color:#fff;
}
/* Donate End  */

/* Food For a family start  */
.food-header{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:25px;
    margin-top:30px;
}
.sub-food-header{
    text-align:justify;
}
.header-option{
    font-size:25px;
}
header-description{
    font-size:20px;
}

.icon{
    background:#c9c9c9;
    padding:15px 20px;
   border-radius:10px;
    width:300px;
    height:30vh;

}
.icon-2{
    background:rgb(250, 227, 231);
    padding:15px 20px;
    border-radius:10px;
    width:300px;
    height:30vh;
}
.icon-3{
    background:rgb(248, 248, 193);
    width:300px;
    height:30vh;
    padding:15px 20px;
    border-radius:10px;
}
/* Our plan donate Box & food,education,shelter style End  */


/* They need us to survive start & */
.donate-header{
    margin:50px 200px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    
}
.donate-description{
  text-align:center;
}

 .donate-header img{
    width:35%;
    height:auto;
}
.donate-heading {
    font-size:40px;

}
.donate-description{
    font-size:15px;
}
/* Their Lives depend End  */



/* search section start */
.search-header{
   margin:50px 200px;
   background:rgb(230, 90, 114);
   height:20vh;
   width:600px;
   margin:0 auto;
}

.sub-search-header{ 
  display:flex;
  align-items:center;
  justify-content:center; 
  padding-top:85px;
  margin-top:20px;
  
}
.sub-search-header input{
    width:300px;
    height:30px;
    border:none;
}
.sub-search-header .search-area{
    width:80px;
    height:32px;
    border:none;
    background:rgb(226, 39, 39);
    color:#fff;

}
/* End */

/* Footer section Start */
.humble{
    background:#262626;
   display:flex;
   align-items:center;
   justify-content:center;
   height:30vh;
   margin-top:40px;
}
.sub-humble{
    margin:50px 200px;
    text-align:center;
}
.humble-heading{
    font-size:30px;
    font-family: 'Berkshire Swash', cursive;
    color:rgb(218, 27, 27);
    text-align:center;

}
.humble-description{
    color:#fff;
    font-size:20px;
}
/* Footer section End  */